/* s2.css */

/* Reset default margin and padding */
body, h1, h2, h4, p, ul {
    margin: 0;
    padding: 0;
    color: azure;
  }
  
  /* Basic styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .gift-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    color:white;
    text-decoration:none;
    text-align: center;
    list-style:none;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #362c2c;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ce0f0f;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #cda6a6;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  a{
    color: white;
  }

  h3{
    color: black;
  }

  h4{
    color: #333;
  }
